@model WebApplication4.Models.Appointment

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Appointment</h2>

@using (Html.BeginForm("Add", "Appointments", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("_AppointmentForm");
}