@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p><font color="red"><font size="6">S</font></font><font size="4">imple</font></p>
<p><font color="red"><font size="6">W</font></font><font size="4">eb-application</font></p>
<p><font color="red"><font size="6">E</font></font><font size="4">xperience</font></p>
<p><font color="red"><font size="6">E</font></font><font size="4">xercise</font></p>
<p><font color="red"><font size="6">T</font></font><font size="4">ask</font></p>
